In [88]:
'''
Return variables dictionary from JSON url 
'''
def read_census_json(json_url): 
    
    # Make a GET request to the JSON url 
    response = requests.get(json_url)
    
    # Check if it was successful (status code == 200)
    if response.status_code == 200: 
        # This is the initial response, in dictionary form 
        json_dict = response.json()
        # There is only one key, so reassign the dictionary variable to that key 
        variables_dict = json_dict['variables']
    else: 
        print("Couldn't read JSON")
    
    print("JSON dictionary returned")
    
    return variables_dict

In [89]:
'''
Rename columns
'''
def label_index_values(json_list, code_label_dictionary): 
    
    index_list = json_list[0][0]

    for i, index in enumerate(index_list): 

        try: 
            index_list[i] = code_label_dictionary[index]
        except: 
            pass 
    
    return index_list

In [90]:
'''
Convert JSON to dictionary
'''
def json_to_dictionary(json_list, index_list): 

    output_dictionary = {} 

    for element in json_list: 
        if element[1] == index_list: 
            for index in index_list: 
                output_dictionary[index] = [] 

        else: 
            for i, variable in enumerate(element[1]): 
                output_dictionary[index_list[i]].append(variable)

    return output_dictionary

In [91]:
#################################################################################################################

In [92]:
'''
Converts output of API calls to dataframe. Index is created from variables, rows each represent a block group. 
'''

def json_list_to_dataframe(json_list):

    output_dictionary = {} 
    
    index_list = json_list[0][0]
    
    for index in index_list: 
        output_dictionary[index] = []

    for json in json_list: 
        values = json[1]

        for i, value in enumerate(values): 
            output_dictionary[index_list[i]].append(value)

    api_dataframe = pd.DataFrame.from_dict(output_dictionary)
    api_dataframe = api_dataframe.rename(columns = code_label_dictionary)
    
    api_dataframe['GEOID'] = api_dataframe['state'] + api_dataframe['county'] + api_dataframe['tract'] + api_dataframe['block group']
    
    return api_dataframe

In [93]:
'''
Change columns to integers if value is numeric. 
'''
def change_columns_to_integers(dataframe): 
    
    for column in dataframe.columns: 

        try: 
            dataframe[column] = dataframe[column].astype(int)
        except: 
            pass
            
    return dataframe

In [94]:
'''
Calculate percentage columns. 
'''
def calculate_percentage_columns(dataframe):
    
    # Iterate through columns 
    for column in dataframe.columns:
        
        # If it is in the dictionary
        if column in code_label_dictionary.values(): 
            
            # Identify the column's position  
            column_position = dataframe.columns.get_loc(column) + 1
            # Calculate its value
            percentage_formula = (dataframe[column]/dataframe['Total Population'])*100
            # Insert the new column 
            dataframe.insert(column_position, f'% {column}', round(percentage_formula, 2))
            
    return dataframe

In [95]:
# Iterate through columns 
for column in api_dataframe.columns:

    # If it is in the dictionary
    if column in code_label_dictionary.values(): 
        perc = (api_dataframe[column]/api_dataframe['Total Population'])*100

In [97]:
'''
Master Function 
'''

def create_api_dataframe(json_list): 

    api_dataframe = json_list_to_dataframe(json_list)
    api_dataframe = change_columns_to_integers(api_dataframe)
    api_datafrmae = calculate_percentage_columns(api_dataframe)
    
    return api_dataframe

'''
Parameters
'''
json_list

'''
Run
'''
api_dataframe = create_api_dataframe(json_list)

api_dataframe

                                                  NAME  ...         GEOID
0    Block Group 1; Census Tract 1040.01; Hennepin ...  ...  270531040011
1    Block Group 2; Census Tract 1040.01; Hennepin ...  ...  270531040012
2    Block Group 3; Census Tract 1048.02; Hennepin ...  ...  270531048023
3    Block Group 1; Census Tract 1049.01; Hennepin ...  ...  270531049011
4    Block Group 1; Census Tract 1049.02; Hennepin ...  ...  270531049021
..                                                 ...  ...           ...
132  Block Group 2; Census Tract 430.01; Ramsey Cou...  ...  271230430012
133  Block Group 3; Census Tract 430.01; Ramsey Cou...  ...  271230430013
134  Block Group 4; Census Tract 430.01; Ramsey Cou...  ...  271230430014
135  Block Group 5; Census Tract 430.01; Ramsey Cou...  ...  271230430015
136  Block Group 1; Census Tract 430.02; Ramsey Cou...  ...  271230430021

[137 rows x 28 columns]